<header class="row">
    <div class="p1">

        <div class="d-flex justify-content-around images">

            <div class="p-2">
                <img src="./assets/images/logo_slider_home@1x.png" width="110">
            </div>

        </div>
        <nav class="navbar navbar-expand-sm justify-content-center navbar-dark">

            <ul class="navbar-nav">
                <li class="items">
                    <a class="nav-link" href="#">HOME</a>
                </li>
                <li class=" items">
                    <a class="nav-link" href="#">OURSERVICES</a>
                </li>
                <li class="items">
                    <a class=" nav-link" href="#">OFFER</a>
                </li>
                <li class="items">
                    <a class="nav-link" href="#">MYACCOUNT</a>
                </li>
                <li class="items">
                    <a class="nav-link" href="#">PRO</a>
                </li>
                <li class="items">
                    <a class="nav-link" href="#">CONTACTUS</a>
                </li>
                <li class="items">
                    <a class="nav-link" href="#">PL</a>
                </li>
            </ul>

        </nav>
        <!-- style="padding-top: 400px" -->
        <div style="padding-top: 180px; ">
            <div style="line-height:10pt;">
                <p class="text-center ph1">
                    <strong>   PAMMPER YOURSELF PRETTY </strong>

                </p>
                <div class="d-flex justify-content-around text-center">

                    <div class="p-2">
                        <p class="ph2">
                            Treat yourself one of our signature services . Our beloved beauty experts will your brows, get you glown and much more. You'll lead looking and feeling more gorgeous than before.

                        </p>
                    </div>

                </div>
                <div class="d-flex justify-content-around images">

                    <div class="p-2">
                        <p class="btn btn-outline-light" style="width: 180px">I RESERVE</p>
                    </div>

                </div>

            </div>
            <footer class="page-footer">

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">
                    <img src="./assets/images/ic_scroll@1x.png">
                </div>
                <!-- Copyright -->

            </footer>
        </div>

    </div>
</header>