<section>

    <footer class="page-footer footer">
        <div class="text-center ph1" style="padding-bottom: 5%">
            <p>
                <strong>   SUBSCRIBE TO OUR NEWSLETTER </strong>

            </p>
            <p>Stay informed about us, news and event</p>
        </div>
        <div class="input-group mb-3" style="padding-left: 270px;padding-right: 270px;">
            <input type="text" class="form-control" style="height: 50px;" placeholder="Entry your email" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-dark" style="height: 50px;" type="button">Send</button>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm justify-content-center navbar-dark">
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="items">
                    <a class="nav-link" href="#">OUR SERVICES</a>
                </li>
                <li class="items">
                    <a class=" nav-link" href="#">OFFER</a>
                </li>
                <li class="items">
                    <a class="nav-link" href="#">MYACCOUNT</a>
                </li>
                <li class="items">
                    <a class="nav-link" href="#">PRO</a>
                </li>
                <li class="items">
                    <a class="nav-link" href="#">CONTACTUS</a>
                </li>
            </ul>
        </nav>


    </footer>
</section>