<section style=" width: 100%;">
    <div class="slidecapital" style="margin-top: 8%;">
        <!--Carousel Wrapper-->
        <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
            <!--Indicators-->

            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <!--First slide-->
                <div class="carousel-item active">

                    <div class="d-flex justify-content-around text-center" style=" padding-top: 5%">

                        <div class="p-2" style="line-height:3pt;">
                            <p class="text-center c"> TESTED APPROVED & RECOMMENDED BY </p>
                            <img src="../../assets/images/title _line_category_2@1x.png">
                        </div>

                    </div>
                    <div class="d-flex justify-content-around images" style=" padding-top: 5%">

                        <div class="p-2">
                            <img src="../../assets/images/capital_logo@2x.png" width="120">
                        </div>

                    </div>
                    <div class="d-flex justify-content-around text-center">

                        <div class="p-2">
                            <p class="ph2 text-center">
                                Myglam app takes up the much needed mantel of beauty conciergein Center London

                            </p>
                        </div>

                    </div>

                </div>
                <!--/First slide-->
                <!--Second slide-->
                <div class="carousel-item">
                    <div class="d-flex justify-content-around text-center" style=" padding-top: 5%">

                        <div class="p-2" style="line-height:3pt;">
                            <p class="text-center c"> TESTED APPROVED & RECOMMENDED BY </p>
                            <img src="./assets/images/title _line_category_2@1x.png">
                        </div>

                    </div>
                </div>

                <div class="carousel-item">
                    <div class="d-flex justify-content-around text-center" style=" padding-top: 5%">

                        <div class="p-2" style="line-height:3pt;">
                            <p class="text-center c"> TESTED APPROVED & RECOMMENDED BY </p>
                            <img src="./assets/images/title _line_category_2@1x.png">
                        </div>

                    </div>
                </div>

            </div>

            <ol class="carousel-indicators">
                <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                <li data-target="#carousel-example-1z" data-slide-to="2"></li>
            </ol>

        </div>



    </div>
</section>
<section style=" width: 100%;">

    <div class="container" style="margin-top: 8%;">

        <div class="d-flex justify-content-around text-center">

            <div class="p-2" style="line-height:3pt;">
                <p class="ph3">HOW IT WORKS?</p>
                <img src="../../assets/images/title _line_category_1@1x.png" width="50%">

            </div>
        </div>

        <div class="row" style="padding-top: 90px">
            <div class="col-sm col-md-4">
                <div>
                    <img class="text-center mx-auto d-block img-fluid" src="../../assets/images/ic_booking@2x.png">
                    <strong style="padding-top: 30px" class="text-center mx-auto d-block"> Booking</strong>
                </div>

            </div>
            <div class="col-sm col-md-4">
                <img class="text-center mx-auto d-block" src="../../assets/images/ic_payment@2x.png">
                <strong style="padding-top: 30px" class="text-center mx-auto d-block"> Payment</strong>
            </div>
            <div class="col-sm col-md-4">
                <img class="text-center mx-auto d-block" src="../../assets/images/ic_meeting@2x.png">
                <strong style="padding-top: 30px" class="text-center mx-auto d-block"> Meeting</strong>
            </div>
        </div>
        <div class="row" class="mx-auto" style="padding-top: 70px;">

            <div class="col-12 " style="text-align: center">
                <button type="button" class="btn btn-outline-light  bntp2 ph4">I RESERVE </button>
            </div>

        </div>
    </div>
</section>
<section style="background-color: grey; width: 100%;">
    <div class="container" style="padding-top: 30px">

        <div class="d-flex justify-content-around text-center">

            <div class="p-2" style="line-height:3pt;">
                <p class="ph3">WE ARE CLOSE TO YOU ON</p>
                <!-- <img src="./assets/images/title _line_section@2x.png"> -->
            </div>

        </div>
        <div class="row">
            <div class="col">
                <img class="text-center mx-auto" src="../../assets/images/mobile_phones@1x.png" height="400">
            </div>
            <div class="col align-self-center">
                <div class="d-flex justify-content-around">

                    <div class="p-2">
                        <input type="button" class="myButton">
                        <input type="button" class="myButton1">
                    </div>
                </div>
                <div class="d-flex justify-content-around images">

                    <div class="p-2">
                        <p class="btn btn-outline-light bntp2" style="width: 180px">EXPLORE IT </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>